.ok-event {
    padding: 10px 20px;
    background: #fff;
}
.type-condom, .type-event {
    padding: 3px 0 7px 45px;
    font-size: 14px;
    font-weight:800;
    letter-spacing: 1px;
    background-repeat: no-repeat;
}
.type-condom {
    background-image: url("../images/igmikc-map-icon-condom.png");     
}
.type-event {
    background-image: url("../images/igmikc-map-icon-event.png");
}
.ok-event h5 {
    font-size: 35px;
    margin-top: 0;
    color:#ff6c2f;
}
.ok-event address {
    margin-bottom: 0;
}
.ok-event time {
    margin-top:0; 
    font-weight: 600;
    letter-spacing: 1px;
    color:#ff6c2f;
}
.ok-event .event-details {
    line-height:1.2;
}
.ok-event a {
    color:#41618b;
}
.icons-social a {
    display:inline-block;
    width: 35px;
    height: 35px;
    margin: 5px 10px 0 0;
    border-radius: 50%;
}
.icon-social-facebook {
    background: url("../images/igmikc-social-facebook.png") no-repeat 12px 6px, #41618b; 
}
.icon-social-twitter {
    background: url("../images/igmikc-social-twitter.png") no-repeat 6px 6px, #41618b;     
}
.icon-social-instagram {
    background: url("../images/igmikc-social-instagram.png") no-repeat 7px 6px, #41618b;     
}