.googleMap{
  height:400px;
  margin:auto;
}
@media only screen and (max-device-width: 680px) {
  .googleMap{
    width:100%;
    margin:auto;
  }  
  .map-frame{
  margin-right: 30px;
}
}
h1.infowindow{
  font-size: 20px;
}
.map-frame{
  position: relative;
}
/*.googleMap{
  position: absolute;
  top: 0;
  left: 0;
}*/
.info-window{
  display: none;
}
.info-window.active, .info-window.activating{
  position: absolute;
  top: 0;
  left: 20px;
  height: 400px;
  display: block;
}
/* info window styles */
.ok-event {
  padding: 10px 20px;
  font-size: 14px;
  background: #fff;
  width: 90%;
  max-width: 400px;
}
.type-condom, .type-event, .type-treatment {
    padding: 7px 0 7px 40px;
    font-size: 12px;
    font-weight:800;
    letter-spacing: 1px;
    background-repeat: no-repeat;
}
.type-condom {
    background-image: url("../images/igmikc-map-icon-condom.png");  
}
.type-event {
    background-image: url("../images/igmikc-map-icon-event.png");
}
.type-treatment {
    background-image: url("../images/igmikc-map-icon-treatment.png");
}
.ok-event h5 {
    font-size: 24px;
    margin-top: 0;
    color:#ff6c2f;
}
.ok-event address {
    margin-bottom: 0;
}
.ok-event time {
    margin-top:0; 
    letter-spacing: 1px;
    color:#ff6c2f;
}
.ok-event .event-details {
    line-height:1.2;
}
.icons-social a {
    display:inline-block;
    width: 35px;
    height: 35px;
    margin: 5px 10px 0 0;
    border-radius: 50%;
}
.icon-social-facebook {
    background: url("../images/igmikc-social-facebook.png") no-repeat 12px 6px, #41618b; 
}
.icon-social-twitter {
    background: url("../images/igmikc-social-twitter.png") no-repeat 6px 6px, #41618b;     
}
.icon-social-instagram {
    background: url("../images/igmikc-social-instagram.png") no-repeat 7px 6px, #41618b;     
}
.icon-social-facebook:hover {
    background: url("../images/igmikc-social-facebook.png") no-repeat 12px 6px, #386fb8; 
}
.icon-social-twitter:hover {
    background: url("../images/igmikc-social-twitter.png") no-repeat 6px 6px, #386fb8;     
}
.icon-social-instagram:hover {
    background: url("../images/igmikc-social-instagram.png") no-repeat 7px 6px, #386fb8;     
}